body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

button:active, button:focus {
  outline: none;
  margin: 0px;
  padding: 0px;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background: transparent;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 18.624px 136.032px 17.376px 129.312px;
}

/* Links Header */
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.droplink {
  color: #fff;
  font-size: 19px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 21.696px;
}

.droplink:hover {
  color: #dd6244;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(221, 98, 68, 0.9);
  min-width: 100%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 20px;
  padding: 20px;
}

.dropdown-content a {
  color: #fff !important;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #000 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Icons Header */
.search {
  right: 0;
}

.dropdown-content input {
  border: none;
  background: transparent;
  padding: 0 400px;
}

.dropdown-content input::-webkit-input-placeholder {
  color: #fff;
}

.dropdown-content input::-moz-placeholder {
  color: #fff;
}

.dropdown-content input:-ms-input-placeholder {
  color: #fff;
}

.dropdown-content input::-ms-input-placeholder {
  color: #fff;
}

.dropdown-content input::placeholder {
  color: #fff;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.icons .droplink {
  padding: 0 6px;
}

.icons button {
  cursor: pointer;
}

.cart {
  font-size: 14px;
  color: #fff;
  right: 0;
  width: 390px !important;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item h6 {
  padding-bottom: 15px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.cart div {
  margin: 10px;
}

.cart-produto {
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart img {
  width: 60px;
  padding: 0px;
  padding-right: 5px;
}

.finalizar-pedido,
.finalizar-pedido div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.finalizar-pedido {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.finalizar-pedido h5 {
  font-size: 14px;
  padding-left: 5px;
}

.finalizar-pedido h6 {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.finalizar-pedido span {
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px 20px 0 20px !important;
  cursor: pointer;
}

.excluir {
  color: rgba(255, 255, 255, 0.8);
}

/* Scroll Header */
.header-scroll {
  background: #fff;
  color: #828282;
  -webkit-box-shadow: 0 0 10px #eee;
  box-shadow: 0 0 10px #eee;
  z-index: 2;
}

.header-scroll ul li a {
  color: #828282;
}

.banner-principal {
  background: url("../imgs/banner-principal.jpg") no-repeat center center;
  background-size: cover;
  display: block;
  color: #fff;
  text-transform: uppercase;
}

.banner-principal .banner-content {
  padding: 250px 0 250px 260px;
}

.banner-principal h1 {
  font-size: 66px;
  font-weight: 200;
  line-height: 83px;
  margin-bottom: 50px;
}

.banner-principal span {
  font-size: 18.6px;
  letter-spacing: 10px;
  cursor: pointer;
}

.banner-principal span:hover {
  color: #dd6244;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  bottom: 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: pointer;
}

.slide-item {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  margin: 5px;
}

.slide-item:hover {
  background: rgba(255, 255, 255, 0.8);
}

.banner-secundario {
  background: url("../imgs/banner2.jpg") no-repeat center center;
  background-size: cover;
  height: 840px;
}

.banner-secundario div {
  text-align: right;
}

.produtos-fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 30px 0;
}

.produtos-fotos img {
  width: 100%;
}

.produto-1 div,
.produto-2 div,
.produto-3 div {
  z-index: -1;
  color: #fff;
}

.produtos-fotos h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 30px;
}

.produtos-fotos h2::after {
  content: "";
  background: #fff;
  display: block;
  width: 63px;
  height: 2px;
  margin: 20px auto;
}

.produtos-fotos h3 {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 6px;
}

.produto-1 {
  background-image: url("../imgs/banner-maios.jpg");
}

.produto-2 {
  background-image: url("../imgs/banner-bodies.jpg");
}

.produto-3 {
  background-image: url("../imgs/banner-biquinis.jpg");
}

.produto-1,
.produto-2,
.produto-3 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 465px;
  height: 465px;
  margin: 0 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.produto-1:hover,
.produto-2:hover,
.produto-3:hover {
  z-index: 1;
  background: #eb5f3d;
}

#carousel {
  position: relative;
  top: -80px;
  margin: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 260px;
  cursor: pointer;
}

#carousel div {
  padding: 10px 0;
  text-align: center;
  margin: 4px;
}

#carousel img {
  width: 100%;
  margin: auto;
}

#carousel h4 {
  font-size: 19px;
  color: #878787;
  font-weight: 400;
  margin: 4px 20px;
}

#carousel h3 {
  font-size: 18px;
}

#carousel span {
  font-size: 23px;
}

#carousel span,
#carousel h3 {
  color: #4a4a49;
  font-weight: 700;
}

.carousel-item {
  display: block;
  background: #fff;
}

#carousel button {
  font-size: 30px;
}

#carousel .carousel-item:hover .image-produto {
  background: url("../imgs/produtos/produto-hover.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

#carousel .image-hover span {
  display: none;
}

#carousel .image-hover:hover span {
  display: block;
}

#carousel .carousel-item button {
  color: transparent;
  border: 3px solid transparent;
  background: transparent;
  padding: 10px 80px;
  margin: 8px auto 0px auto;
  font-size: 16px;
}

#carousel .carousel-item button:focus, #carousel .carousel-item button:active {
  outline: none;
}

#carousel .carousel-item:hover button {
  background: #fff;
  color: #dd6244;
  border: 3px solid #dd6244;
  cursor: pointer;
}

.image-1 {
  background-image: url(../imgs/produtos/1.jpg);
}

.image-2 {
  background-image: url(../imgs/produtos/2.jpg);
}

.image-3 {
  background-image: url(../imgs/produtos/3.jpg);
}

.image-4 {
  background-image: url(../imgs/produtos/4.jpg);
}

.image-5 {
  background-image: url(../imgs/produtos/5.jpg);
}

#carousel .image-produto {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 460px;
}

/* Footer Top */
.footer-top {
  background: url("../imgs/footer/gradiente.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  padding: 30px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
}

.footer-top-contexto {
  padding: 0 110px;
  margin-top: 150px;
}

.footer-top-contexto span {
  font-weight: 700;
}

.footer-top-contexto .footer-texto span {
  font-weight: 700;
  font-size: 21px;
}

.footer-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 30px;
}

.footer-texto h3 {
  padding: 25px 40px;
  font-size: 18px;
  font-weight: 200;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-links ul li a {
  color: #fff;
  font-size: 20px;
}

.footer-links ul li a:hover {
  color: #dd6244;
}

.footer-links input {
  margin-top: 10px;
  width: 300px;
  padding: 15px;
  background: rgba(246, 246, 246, 0.3);
  color: #828282;
  border: none;
  outline: none;
}

.footer-links input::-webkit-input-placeholder {
  color: #fff;
}

.footer-links input::-moz-placeholder {
  color: #fff;
}

.footer-links input:-ms-input-placeholder {
  color: #fff;
}

.footer-links input::-ms-input-placeholder {
  color: #fff;
}

.footer-links input::placeholder {
  color: #fff;
}

/* Footer Bottom */
.footer-bottom {
  font-size: 16px;
  color: #828282;
  margin: 10px 400px 10px 100px;
}

.footer-bottom,
.footer-bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-bottom .pagamento,
.footer-bottom .seguranca {
  text-transform: uppercase;
}

.footer-bottom .seguranca img {
  margin-right: 5px;
}

.footer-bottom h4 {
  padding: 0 10px;
  font-weight: 400;
}

.footer-links button {
  border: none;
  background: url("../imgs/footer/seta.png") no-repeat center center;
  background-size: 100%;
  width: 8px;
  height: 20px;
  position: relative;
  top: 5px;
  left: -24px;
}

.footer-links .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
@media (min-width: 320px) and (max-width: 480px) {
  /* Header */
  nav {
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px;
  }
  /* Links Header */
  .navbar {
    display: none;
  }
  .navbar ul {
    display: none;
  }
  .banner-principal {
    display: block;
  }
  .banner-principal .banner-content {
    padding: 150px 80px;
  }
  .banner-principal h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
  }
  .banner-principal span {
    font-size: 14px;
    letter-spacing: 4px;
    cursor: pointer;
  }
  .banner-secundario {
    height: 300px;
    background-position: -80px;
  }
  .produtos-fotos {
    display: grid;
    margin: 20px 0;
  }
  .produtos-fotos img {
    width: 100%;
  }
  .produtos-fotos h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .produtos-fotos h2::after {
    content: "";
    width: 50px;
    margin: 10px auto;
  }
  .produto-1,
  .produto-2,
  .produto-3 {
    width: 300px;
    height: 300px;
    margin: 10px;
  }
  #carousel {
    top: 200px;
    margin: 0 10px;
    height: 200px;
  }
  #carousel h4 {
    font-size: 15px;
    margin: 4px 0px;
  }
  #carousel h3 {
    font-size: 14px;
  }
  #carousel span {
    font-size: 19px;
  }
  #carousel .carousel-item button {
    padding: 10px 60px;
    margin: 8px auto 0px auto;
    font-size: 11px;
  }
  /* Footer Top */
  .footer-top {
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
  }
  .footer-top-contexto {
    padding: 0 30px;
    margin-top: 450px;
  }
  .footer-top-contexto .footer-texto span {
    font-weight: 700;
    font-size: 16px;
  }
  .footer-texto {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-texto h3 {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 200;
  }
  .footer-links {
    display: block;
  }
  .footer-links div {
    margin: 30px 0;
  }
  .footer-links ul li a {
    color: #fff;
    font-size: 20px;
  }
  .footer-links ul li a:hover {
    color: #dd6244;
  }
  .footer-links input {
    margin-top: 10px;
    width: 300px;
    padding: 15px;
  }
  .footer-links input::-webkit-input-placeholder {
    color: #fff;
  }
  .footer-links input::-moz-placeholder {
    color: #fff;
  }
  .footer-links input:-ms-input-placeholder {
    color: #fff;
  }
  .footer-links input::-ms-input-placeholder {
    color: #fff;
  }
  .footer-links input::placeholder {
    color: #fff;
  }
  /* Footer Bottom */
  .footer-bottom {
    text-align: center;
    font-size: 14px;
    margin: 0px;
  }
  .footer-bottom,
  .footer-bottom div {
    display: block;
    margin: 20px 0;
  }
  .footer-bottom .seguranca img {
    margin-right: 5px;
  }
  .footer-bottom h4 {
    padding: 0 10px;
  }
}

body {
  font-family: "Nunito", sans-serif;
}
