body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background: transparent;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 97px;
}

/* Logo Header */
.logo img {
  width: 200px;
  height: 46px;
}

/* Links Header */
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.droplink {
  color: #fff;
  font-size: 14.5px;
  text-transform: uppercase;
  padding: 20px;
}

.droplink:hover {
  color: #eb5f3d;
  background: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(235, 95, 61, 0.9);
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 20px;
  padding: 20px;
}

.dropdown-content a {
  color: #fff !important;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #000 !important;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Icons Header */
.search {
  right: 0;
}

.dropdown-content input {
  border: none;
  background: transparent;
  padding: 0 400px;
}

.dropdown-content input::-webkit-input-placeholder {
  color: #fff;
}

.dropdown-content input::-moz-placeholder {
  color: #fff;
}

.dropdown-content input:-ms-input-placeholder {
  color: #fff;
}

.dropdown-content input::-ms-input-placeholder {
  color: #fff;
}

.dropdown-content input::placeholder {
  color: #fff;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.icons img {
  width: 20px;
  padding: 15px;
  cursor: pointer;
}

.icons .droplink:hover {
  background: rgba(235, 95, 61, 0.8);
}

.cart {
  font-size: 14px;
  color: #fff;
  right: 0;
  width: 390px !important;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item h6 {
  padding-bottom: 15px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.cart div {
  margin: 10px;
}

.cart-produto {
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart img {
  width: 60px;
  padding: 0px;
  padding-right: 5px;
}

.finalizar-pedido,
.finalizar-pedido div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.finalizar-pedido {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.finalizar-pedido h5 {
  font-size: 14px;
  padding-left: 5px;
}

.finalizar-pedido h6 {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.finalizar-pedido span {
  font-size: 13px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px 10px 0 10px !important;
  cursor: pointer;
}

.excluir {
  color: rgba(255, 255, 255, 0.8);
}

/* Scroll Header */
.header-scroll {
  background: #fff;
  color: #828282;
  -webkit-box-shadow: 0 0 10px #eee;
  box-shadow: 0 0 10px #eee;
  z-index: 2;
}

.header-scroll ul li a {
  color: #828282;
}

.header-scroll .droplink:hover {
  background: rgba(235, 95, 61, 0.6);
}

.header-scroll .droplink:hover {
  color: #fff;
}

.banner-principal {
  background: url("../imgs/banner-principal.jpg") no-repeat center center;
  background-size: cover;
  display: block;
  color: #fff;
  text-transform: uppercase;
  padding: 200px;
}

.banner-principal h1,
.banner-secundario h1 {
  font-size: 50px;
  font-weight: 200;
  line-height: 62px;
  margin-bottom: 35px;
}

.banner-principal span,
.banner-secundario span {
  font-size: 14px;
  letter-spacing: 10px;
  cursor: pointer;
}

.banner-principal span:hover,
.banner-secundario span:hover {
  color: #eb5f3d;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  bottom: -170px;
  cursor: pointer;
}

.slide-item {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  margin: 5px;
}

.slide-item:hover {
  background: rgba(255, 255, 255, 0.8);
}

.banner-secundario {
  background-image: url("../imgs/banner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 840px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 200px;
}

.banner-secundario div {
  text-align: right;
}

.produtos-fotos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 22px 0;
}

.produtos-fotos img {
  width: 100%;
}

.produto-1 div,
.produto-2 div,
.produto-3 div {
  z-index: -1;
  color: #fff;
}

.produtos-fotos h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
}

.produtos-fotos h2::after {
  content: "";
  background: #fff;
  display: block;
  width: 63px;
  height: 2px;
  margin: 20px auto;
}

.produtos-fotos h3 {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 6px;
}

.produto-1 {
  background-image: url("../imgs/banner-maios.jpg");
}

.produto-2 {
  background-image: url("../imgs/banner-bodies.jpg");
}

.produto-3 {
  background-image: url("../imgs/banner-biquinis.jpg");
}

.produto-1,
.produto-2,
.produto-3 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  height: 350px;
  margin: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.produto-1:hover,
.produto-2:hover,
.produto-3:hover {
  z-index: 1;
  background: #eb5f3d;
}

#carousel {
  position: relative;
  top: -80px;
  margin: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 260px;
}

#carousel div {
  padding: 10px 0;
  text-align: center;
  margin: 4px;
}

#carousel img {
  width: 100%;
  margin: auto;
}

#carousel h4 {
  font-size: 14px;
  color: #878787;
  font-weight: 400;
  margin: 4px 20px;
}

#carousel h3 {
  font-size: 14px;
}

#carousel span {
  font-size: 18px;
}

#carousel span,
#carousel h3 {
  color: #4a4a49;
  font-weight: 700;
}

.carousel-item {
  display: block;
  background: #fff;
  padding: 200px;
}

#carousel button {
  font-size: 30px;
}

/* Footer Top */
.footer-top {
  background: url("../imgs/footer/gradiente.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  display: block;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.footer-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid #a8ddd9;
  border-bottom: 1px solid #a8ddd9;
  margin: 60px 0;
}

.footer-texto h3 {
  padding: 25px 40px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-links ul li a {
  color: #fff;
}

.footer-links ul li a:hover {
  color: #eb5f3d;
}

.footer-links div {
  margin: 0 25px;
}

.footer-links input {
  margin-top: 10px;
  width: 220px;
  padding: 15px;
  background: rgba(246, 246, 246, 0.3);
  color: #828282;
  border: none;
  outline: none;
}

.footer-links input::-webkit-input-placeholder {
  color: #fff;
}

.footer-links input::-moz-placeholder {
  color: #fff;
}

.footer-links input:-ms-input-placeholder {
  color: #fff;
}

.footer-links input::-ms-input-placeholder {
  color: #fff;
}

.footer-links input::placeholder {
  color: #fff;
}

/* Footer Bottom */
.footer-bottom {
  font-size: 13px;
  color: #828282;
  margin: 10px 75px;
}

.footer-bottom,
.footer-bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-bottom div {
  margin: 0 30px;
}

.footer-bottom .pagamento,
.footer-bottom .seguranca {
  text-transform: uppercase;
}

.footer-bottom h4 {
  padding: 0 10px;
  font-weight: 400;
}

.footer-bottom .logo-footer img {
  width: 60px;
}

.footer-bottom .pagamento img {
  width: 40px;
}

.footer-bottom .footer img {
  padding: 0 4px;
}

.footer-links button {
  border: none;
  background: url("../imgs/footer/seta.png") no-repeat center center;
  background-size: 100%;
  width: 8px;
  height: 20px;
  position: relative;
  top: 5px;
  left: -24px;
}

.footer-links .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
}
