.banner-principal {
    background-image: url("../imgs/banner-principal.jpg");    
    background-size: 100%;
    background-repeat: no-repeat;
    height: 739px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-left: 200px; 
    color: #ffffff;
}

.banner-principal h1 {
    font-size: 50px;
    font-weight: 200;
    line-height: 62px;
    margin-bottom: 35px;
}

.banner-principal span {
    font-size: 14px;
    letter-spacing: 10px;
    cursor: pointer;
}