.banner-principal {
  background: url("../imgs/banner-principal.jpg") no-repeat center center;
  background-size: cover;
  display: block;
  color: #fff;
  text-transform: uppercase;
}
.banner-principal .banner-content {
  padding: 250px 0 250px 260px;
}
.banner-principal h1 {
  font-size: 66px;
  font-weight: 200;
  line-height: 83px;
  margin-bottom: 50px;
}
.banner-principal span {
  font-size: 18.6px;
  letter-spacing: 10px;
  cursor: pointer;
}
.banner-principal span:hover {
  color: $orange;
}
.slide {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
  flex-wrap: wrap;
  cursor: pointer;
}
.slide-item {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  margin: 5px;
}
.slide-item:hover {
  background: $branco-hover;
}
.banner-secundario {
  background: url("../imgs/banner2.jpg") no-repeat center center;
  background-size: cover;
  height: 840px;
}
.banner-secundario div {
  text-align: right;
}
