/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  background: transparent;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18.624px 136.032px 17.376px 129.312px;
}

/* Links Header */
.navbar ul {
  display: flex;
  flex-wrap: wrap;
}
.droplink {
  color: #fff;
  font-size: 19px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 21.696px;
}
.droplink:hover {
  color: $orange;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba($orange, 0.9);
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 20px;
  padding: 20px;
}
.dropdown-content a {
  color: #fff !important;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: #000 !important;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Icons Header */
.search {
  right: 0;
}
.dropdown-content input {
  border: none;
  background: transparent;
  padding: 0 400px;
}
.dropdown-content input::placeholder {
  color: #fff;
}
.icons {
  display: flex;
  flex-wrap: wrap;
}
.icons .droplink {
  padding: 0 6px;
}
.icons button {
  cursor: pointer;
}
.cart {
  font-size: 14px;
  color: #fff;
  right: 0;
  width: 390px !important;
}
.cart-item {
  display: flex;
}
.cart-item h6 {
  padding-bottom: 15px;
  font-size: 10px;
  color: $branco-hover;
}

.cart div {
  margin: 10px;
}
.cart-produto {
  margin: 0 !important;
  display: flex;
}
.cart img {
  width: 60px;
  padding: 0px;
  padding-right: 5px;
}

.finalizar-pedido,
.finalizar-pedido div {
  display: flex;
}
.finalizar-pedido {
  justify-content: space-between;
}
.finalizar-pedido h5 {
  font-size: 14px;
  padding-left: 5px;
}
.finalizar-pedido h6 {
  font-size: 10px;
  color: $branco-hover;
}
.finalizar-pedido span {
  font-size: 13px;
  border: 1px solid $branco-hover;
  padding: 10px 20px 0 20px !important;
  cursor: pointer;
}
.excluir {
  color: $branco-hover;
}

/* Scroll Header */
.header-scroll {
  background: #fff;
  color: $cinza;
  box-shadow: 0 0 10px #eee;
  z-index: 2;
}
.header-scroll ul li a {
  color: $cinza;
}
