.produtos-fotos ul {
  display: flex;
  justify-content: center;     
  flex-wrap: wrap;
}

.produtos-fotos li {
  max-width: 300px;
  padding: 30px 20px;
}

.produtos-fotos img {
  position: relative;
    z-index: -1;
}


.produtos-fotos li:hover .image{    
  background: rgba(0, 255, 255, 0.5);
}